.profile__add-btn {
  padding: 14px 64px;
  border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 2px;
}
@media screen and (max-width: 768px) {
  .profile__add-btn {
    padding: 17px 128px;
  }
}
.profile__add-btn:hover {
  opacity: 0.6;
}