.footer__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.222222222222222;
  color: #545454;
}
.footer__text::before {
  content: "\00a9";
}
@media screen and (max-width: 461px) {
  .footer__text {
    font-size: 0.875rem;
    line-height: 1.214285714285714;
  }
}
