.root {
    max-width: calc((1280px - (200px * 2)));
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

@media screen and (max-width: 900px) {
    .root {
        max-width: 100%
    }
}