.popup-box__heading {
  margin: 34px 0 0;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.2083333333;
}
@media screen and (max-width: 461px) {
  .popup-box__heading {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.22222222;
    margin: 25px 0 0;
  }
}