<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Around The U.S.</title>
  </head>

  <body class="page">
    <div class="root">
      <header class="header">
        <img
          class="header__logo"
          src="<%= require('./images/header/header__logo.svg')%>"
          alt="header logo with text `Around The U.S.`"
        />
      </header>
      <main class="main">
        <section class="profile">
          <div class="profile__avatar-cover">
            <button
              class="profile__avatar-btn button-modifier"
              alt="Avatar user photo"
            >
              <img
                src="<%= require('./images/profile/profile__pic-edit.svg')%>"
                alt="Edit profile PIC pencil button"
                class="profile__avatar-btn-img"
              />
            </button>
          </div>
          <div class="profile__info">
            <h1 class="profile__name">Loading...</h1>
            <button
              type="button"
              class="profile__edit-btn-cover button-modifier"
            >
              <img
                src="<%= require('./images/profile/profile__button-edit.svg')%>"
                class="profile__edit-btn"
                alt="Edit profile button"
              />
            </button>
            <p class="profile__about-me">Loading...</p>
          </div>
          <button type="button" class="profile__add-btn-cover button-modifier">
            <img
              src="<%= require('./images/profile/profile__button-plus.svg')%>"
              class="profile__add-btn"
              alt="Edit profile button"
            />
          </button>
        </section>
        <section class="places">
          <ul class="places__grid-container"></ul>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__text">2021 Around The U.S.</p>
      </footer>
    </div>
    <!-- Popup Profile Edit -->
    <section class="popup-box popup-box_type_profile-edit">
      <div class="popup-box__container">
        <button
          type="button"
          class="popup-box__close-button button-modifier"
          name="profile-edit"
        ></button>
        <div class="popup-box__wrapper">
          <h2 class="popup-box__heading">Edit profile</h2>
          <form name="form_profile-edit" class="popup-box__form" novalidate>
            <fieldset class="popup-box__fieldset">
              <input
                class="popup-box__input popup-box__input_order_first-input"
                name="name_input"
                id="name-input"
                type="text"
                placeholder="Enter your name"
                minlength="2"
                maxlength="40"
                required
              />
              <span class="popup-box__input-error name-input-error"></span>
              <input
                class="popup-box__input popup-box__input_order_second-input"
                name="about_me"
                type="text"
                placeholder="Tell as something about yourself"
                minlength="2"
                maxlength="200"
                id="about-me-input"
                required
              />
              <span class="popup-box__input-error about-me-input-error"></span>
              <button
                class="popup-box__submit-button button-modifier"
                type="submit"
              >
                Save
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </section>
    <!-- Popup Add New Item -->
    <section class="popup-box popup-box_type_add-item">
      <div class="popup-box__container">
        <button
          name="add-item"
          type="button"
          class="popup-box__close-button button-modifier"
        ></button>
        <div class="popup-box__wrapper">
          <h2 class="popup-box__heading">New place</h2>
          <form name="form_add-place" class="popup-box__form" novalidate>
            <fieldset class="popup-box__fieldset">
              <input
                class="popup-box__input popup-box__input_order_first-input"
                id="title-input"
                name="title_place"
                type="text"
                placeholder="Title"
                minlength="1"
                maxlength="30"
                required
              />
              <span class="popup-box__input-error title-input-error"></span>
              <input
                class="popup-box__input popup-box__input_order_second-input"
                id="url-input"
                name="img_link"
                type="url"
                placeholder="Image link"
                required
              />
              <span class="popup-box__input-error url-input-error"></span>
              <button
                class="popup-box__submit-button button-modifier"
                type="click"
                name="btn_add-item"
              >
                Create
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </section>
    <!-- Popup Change Profile Pic -->
    <section class="popup-box popup-box_type_change-profile-pic">
      <div class="popup-box__container">
        <button
          name="change-profile-pic"
          type="button"
          class="popup-box__close-button button-modifier"
        ></button>
        <div class="popup-box__wrapper">
          <h2 class="popup-box__heading">Change profile picture</h2>
          <form
            name="form_change-profile-pic"
            class="popup-box__form"
            novalidate
          >
            <fieldset class="popup-box__fieldset">
              <input
                class="popup-box__input popup-box__input_order_first-input"
                name="img_link"
                type="url"
                placeholder="Image link"
                required
              />
              <span class="popup-box__input-error url-input-error"></span>
              <button
                class="popup-box__submit-button button-modifier"
                type="click"
                name="btn_change-profile-pic"
              >
                Save
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </section>
    <!-- Popup Img -->
    <section class="popup-box popup-box_type_img">
      <div class="popup-box__container popup-box__container_type_img">
        <button
          name="img"
          type="button"
          class="popup-box__close-button popup-box__close-button_type_img button-modifier"
        ></button>
        <div class="popup-box__wrapper popup-box__wrapper_type_img">
          <img src="." class="popup-box__img" alt="a picture of" />
          <p class="popup-box__img-title"></p>
        </div>
      </div>
    </section>
    <!-- Popup Confirm -->
    <section class="popup-box popup-box_type_confirm">
      <div class="popup-box__container">
        <button
          type="button"
          class="popup-box__close-button popup-box__close-button_type_delete-confirm button-modifier"
        ></button>
        <div class="popup-box__wrapper">
          <h2 class="popup-box__heading">Are you sure?</h2>
          <fieldset class="popup-box__fieldset">
            <button
              button-modifier
              class="popup-box__submit-button popup-box__submit-button_type_delete-confirm button-modifier"
              type="click"
              name="btn_confirm"
            >
              Yes
            </button>
          </fieldset>
        </div>
      </div>
    </section>
    <!-- template place -->
    <template id="places-item-template">
      <li class="places__item">
        <div class="places__img">
          <button type="button" class="places__remove-btn button-modifier">
            <img
              src="<%= require('./images/places/remove_btn_svg/trash-btn.svg')%>"
            />
          </button>
        </div>
        <div class="places__info-wrapper">
          <h2 class="places__name"></h2>
          <div>
            <button
              type="button"
              class="places__like-btn button-modifier"
            ></button>
            <p class="places__like-counter"></p>
          </div>
        </div>
      </li>
    </template>
  </body>
</html>
